<% if @user == current_user && @user.profile_photo.exists?%>
<h3>Hello <%= @user.first_name %>!</h3>
<%= link_to "Upload profile photo", "#" %>
<% end %>

<%= image_tag @user.profile_photo %>

<p>First Name: <%= @user.first_name %> </p>
<p>Last Name: <%= @user.last_name %> </p>
<p>Email: <%= @user.email %></p>

<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
  <h4>Your reviews:</h4>
<% else %>
  <%= @user.first_name %>'s Reviews:
<% end %>
<ul>
  <% @user.reviews.each do |review| %>
    <li>
      Review for <%= link_to review.book.title, book_path(review.book) %>:<br>
      Rating: <%= review.rating %><br>
      <%= review.title %>
      <%= review.body %>

      <% if @user == current_user %>
        <%= button_to "Delete This Review", { controller: "reviews", action: :destroy, id: review.id }, data: { confirm: "Are you sure?" }, method: :delete %>
      <% end %>
    </li><br>
  <% end %>
</ul>
