<h3>Hello <%= @user.first_name %>!</h3>

<%= image_tag '#' %>

<%= link_to "Upload profile photo", "#" %>

<p>First Name: <%= @user.first_name %> </p>
<p>Last Name: <%= @user.last_name %> </p>
<p>Email: <%= @user.email %></p>

<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
<% end %>

<h4>Your reviews:</h4>
<ul>
  <% @user.reviews.each do |review| %>
    <li>
      Your review for <%= link_to review.book.title, book_path(review.book) %>:<br>
      Rating: <%= review.rating %><br>
      <%= review.title %>
      <%= review.body %>
    </li><br>
  <% end %>
</ul>
