<div class="profile-body">
  <div class="profile-header">
    <% if @user == current_user %>
      <h3 class="tagline">Hello <%= @user.first_name %>!</h3>
      <%= link_to "Upload profile photo", "#", class: "profile-link" %>
    <% end %>
  </div>

  <%= image_tag @user.profile_photo %>

  <div class="profile-text">
    <ul>
      <li>
        <span>Name:</span> <%= @user.first_name %> <%= @user.last_name %>
      </li>
      <li>
        <span>Email:</span> <%= @user.email %>
      </li>
    </ul>
  </div>
  <div class="profile-reviews">
    <% if @user == current_user %>
    <%= link_to 'Edit Profile', edit_user_registration_path %>
    <h4 class="tagline">Your reviews:</h4>
    <% else %>
    <h4 class="tagline"><%= @user.first_name %>'s Reviews:</h4>
    <% end %>
    <ul>
      <%= render partial: 'layouts/review', collection: @reviews %>
    </ul>
  </div>
</div>
