<h3>Hello <%= @user.first_name %>!</h3>

<%= image_tag @user.profile_photo %>

<%= link_to "Upload profile photo", "#" %>

<p>First Name: <%= @user.first_name %> </p>
<p>Last Name: <%= @user.last_name %> </p>
<p>Email: <%= @user.email %></p>

<% if @user == current_user %>
 <%= link_to 'Edit Profile', edit_user_registration_path %>
<% end %>
