<% if @user == current_user %>
<h3>Hello <%= @user.first_name %>!</h3>
<%= link_to "Upload profile photo", "#" %>
<% end %>

<%= image_tag @user.profile_photo %>

<p>First Name: <%= @user.first_name %> </p>
<p>Last Name: <%= @user.last_name %> </p>
<p>Email: <%= @user.email %></p>

<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
  <h4>Your reviews:</h4>
<% else %>
  <%= @user.first_name %>'s Reviews:
<% end %>
<ul>
  <%= render partial: 'layouts/review', collection: @reviews %>
</ul>
