<h1>
  <%= @book.title %>
</h1>
<span>
  By: <%= @book.author.name %>
  <br>
  Genre: <%= @book.genre.genre_name %>
  <br>
  Published: <%= @book.year %>
</span>

<p>
  Synopsis:
  <br>
  <%= @book.description %>
  <br><br>
    Added by:<br>
   <%= button_to @book.user.first_name, @book.user, class: 'button' %>
  </h5>
</p>

<% if current_user == @book.user %>
  <%= link_to 'Edit Book', edit_book_path %>
<% end%>

<% if user_signed_in? && !@book.reviewed?(current_user) %>
  <%= button_to "Add Review", new_book_review_path(@book), class: 'button' %>
<% else %>
  <span>Sign in to add a review!</span>
<% end %>

Reviews for <%= @book.title %>:
<ul>
  <%= render partial: 'layouts/review', collection: @reviews %>
</ul>

<%= paginate @reviews %>
