<h1>
  <%= @book.title %>
</h1>
<span>
  By: <%= @book.author.name %>
  <br>
  Genre: <%= @book.genre.genre_name %>
  <br>
  Published: <%= @book.year %>
</span>

<p>
  Synopsis:
  <br>
  <%= @book.description %>
  <br><br>
    Added by:<br>
   <%= @book.user.first_name %>
  </h5>
</p>

<% if current_user == @book.user %>
  <%= link_to 'Edit Book', edit_book_path %><br>
<% end%>

<% if user_signed_in? %>
    <% if !@book.reviewed?(current_user) %>
      <%= link_to 'Add Review', new_book_review_path(@book) %><br>
    <% end %>
<% else %>
  <p> Sign in to add a review! </p>
<% end %>
<br>
Reviews for <%= @book.title %>:
<ul>
<% @reviews.each do |review|%>
  <div class= 'voting'>
    <% unless current_user.id == review.user.id %>
      <li><%= link_to "Upvote", upvote_review_votes_path(review), class: "upvote", remote: true, method: :post %></li>
      <div id="vote-<%=review.id%>">
        <li><%= review.score %></li>
      </div>
      <li><%= link_to "Downvote", downvote_review_votes_path(review), class: "downvote", remote: true, method: :post %></li>
    <% end %>
  </div>
  <li>
    <h3><%= review.title %></h3>
    <%= review.full_user_name %><br>
    Rating: <%= review.rating %> <br>
    <%= review.body %> <br>
    Reviewed on:  <%= review.created_at.strftime("%B %d, %Y") %>
  </li><br>
<% end %>
</ul>

<%= paginate @reviews %>
