<article class='book-show'>
  <h1>
    <%= @book.title %>
  </h1>
  <% if current_user == @book.user %>
    <span>Added by <%= link_to 'You', @book.user %></span>
  <% else %>
    <span>Added by <%= link_to @book.user.first_name, @book.user %></span>
  <% end %>
  <% if !(current_user == nil) %>
    <% if current_user == @book.user || current_user.admin? %>
      <%= button_to 'Edit Book', edit_book_path, class: "button tiny" %>
    <% end%>
  <% end %>
  <span>By <%= @book.author.name %></span>
  <br>
  <span>Genre: <%= @book.genre.genre_name %></span>
  <br>
  <span>Published: <%= @book.year %></span>
  <br>
  <br>
  <h4>Synopsis</h4>
  <p><%= @book.description %></p>
  <br>
</article>
<article class="review-index">
  <% if user_signed_in? && !@book.reviewed?(current_user) %>
    <%= link_to 'Add Review',
        new_book_review_path(@book),
        class: "button tiny" %>
  <% else %>
    <span>Sign in to add a review!</span>
  <% end %>
  <h3>Reviews</h3>
  <ul>
    <%= render partial: 'layouts/review', collection: @reviews %>
  </ul>

  <%= paginate @reviews %>
</article>
