<!DOCTYPE html>
<html>
<head>
  <title> <%= @book.title %> </title>
</head>
<body>

<h1>
  <%= @book.title %>
</h1>

<span>
  By: <%= @book.author.name %>
  <br>
  Genre: <%= @book.genre.genre_name %>
  <br>
  Published: <%= @book.year %>
</span>

<p>
  Synopsis:
  <br>
  <%= @book.description %>
  <br><br>
    Added by:<br>
   <%= @book.user.first_name %>
  </h5>
</p>

<% if current_user == @book.user %>
  <%= link_to 'Edit Book', edit_book_path %>
<% end%>

Reviews for <%= @book.title %>:
<ul>
<% @reviews.each do |review|%>
  <li>
    <% if !review.up_voted?(current_user) && !review.down_voted?(current_user)%>
      <%= link_to "Upvote This Review", api_v1_review_upvote_path(review), class: "review-upvotes", method: :post, data: { review_id: "#{review.id}"}, remote: true %>
      <br>
      <%= link_to "Downvote This Review", api_v1_review_downvote_path(review), class: "review-upvotes", method: :post, data: { review_id: "#{review.id}"}, remote: true %>
    <% elsif review.up_voted?(current_user)%>
      <%= link_to "Undo Upvote", api_v1_review_upvote_path(review), method: :delete %><br>
    <% elsif review.down_voted?(current_user)%>
      <%= link_to "Undo Downvote", api_v1_review_downvote_path(review), method: :delete %><br>
    <% end %>
    <div class="upvote-count">
      <li> Upvotes: <%= review.upvotes.count %> </li>
    </div>
    <div class="downvote-count">
      <li> Downvotes: <%= review.downvotes.count %> </li>
    </div>

    <h3><%= review.title %></h3>
    <%= review.full_user_name %><br>
    Rating: <%= review.rating %> <br>
    <%= review.body %> <br>
    Reviewed on:  <%= review.created_at.strftime("%B %d, %Y") %>
  </li><br><br>
<% end %>
</ul>

<% if user_signed_in? %>
    <% unless Review.where(user_id: current_user.id, book_id: @book.id).any? %>
      <%= link_to 'Add Review', new_book_review_path(@book) %>
    <% end %>
<% else %>
  <p> Sign in to add a review! </p>
<% end %>

</body>
</html>

<%= paginate @reviews %>
