<h1>
  <%= @book.title %>
</h1>
<span>
  Published: <%= @book.year %>
  <br>
  By: <%= @book.author.name %>
  <br>
  Genre: <%= @book.genre.genre_name %>
</span>

<p>
  Synopsis:
  <br>
  <%= @book.description %>
</p>

<%= link_to 'Add Review', new_review_path(@book) %>
