<li>
  <h3><%= review.title %></h3>
  <%= link_to  %>
  Votes: <%= review.votes %><br>
  <%= review.full_user_name %><br>
  Rating: <%= review.rating %> <br>
  <%= review.body %><br>
  Reviewed on:  <%= review.created_at.strftime("%B %d, %Y") %>
</li>
