<li>
  <% if params[:controller] == "users" %>
    Review for <%= link_to review.book.title, book_path(review.book) %>:<br>
  <% end %>
  Rating: <%= review.rating %><br>
  <%= review.title %>
  <%= review.body %>
  <% if review.user == current_user %>
    <%= link_to 'Edit', edit_review_path(review) %>
    <%= button_to "Delete This Review", { controller: "reviews", action: :destroy, id: review.id }, data: { confirm: "Are you sure?" }, method: :delete %>
  <% end %>
</li><br>
