<li>
  <h3><%= review.title %></h3>
  <% if review.user == current_user %>
    <%= link_to "Edit", [:edit, review.book, review]  %>
  <% end %>
  Votes: <%= review.votes %><br>
  <%= review.full_user_name %><br>
  Rating: <%= review.rating %> <br>
  <%= review.body %><br>
  Reviewed on:  <%= review.created_at.strftime("%B %d, %Y") %>
</li>
